body {
    background-color: #FCEFF9;
}

h1 {
    color:#49006A; 
    font-weight: bold;
    font-family: Helvetica;
    text-align: center;
} 

h2 {
    color:#49006A; 
    font-family: Helvetica;
    text-align: center;
}

button {
    background-color: #FFF8FD;
    color: #49006A;
}

